EMAIL_IMAP_HOST=imap.gmail.com
EMAIL_IMAP_PORT=993
EMAIL_IMAP_USER=cxxxxxg@gmail.com
EMAIL_IMAP_PASSWORD=xxzxz
EMAIL_IMAP_MAILBOX=ho_so_in
EMAIL_DONE_MAILBOX=ho_so_da_in
EMAIL_IMAP_TIMEOUT_SECONDS=30
EMAIL_SEARCH_CRITERIA=ALL

POLL_INTERVAL_SECONDS=600
BASE_DIR=C:/ho_so_in
PENDING_DIR=C:/ho_so_in/chua_in
PRINTED_DIR=C:/ho_so_in/da_in

PRINTER_NAME=
PDF_PRINT_APP_PATH=
PRINT_WAIT_SECONDS=10
DELETE_PRINTED_DIR_ON_START=true
DELETE_PRINTED_DIR_EACH_CYCLE=false
MARK_EMAIL_SEEN=true
ALLOWED_EXTENSIONS=.pdf,.png,.jpg,.jpeg,.bmp,.tif,.tiff,.doc,.docx,.xls,.xlsx
